@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';
#root {
  width:100%;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

#user-menu ~ #user-menu-dropdown {
  --transform-translate-x: 0;
  --transform-translate-y: 0;
  --transform-rotate: 0;
  --transform-skew-x: 0;
  --transform-skew-y: 0;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
  transform: translateX(var(--transform-translate-x)) translateY(var(--transform-translate-y)) rotate(var(--transform-rotate)) skewX(var(--transform-skew-x)) skewY(var(--transform-skew-y)) scaleX(var(--transform-scale-x)) scaleY(var(--transform-scale-y));
  transition-timing-function: cubic-bezier(0.4, 0, 1, 1);
  transition-duration: 75ms;
  opacity: 0;
  --transform-scale-x: 0;
  --transform-scale-y: 0;
}

#user-menu ~ #user-menu-dropdown:focus-within, #user-menu:focus ~ #user-menu-dropdown {
  transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
  transition-duration: 100ms;
  opacity: 1;
  --transform-scale-x: 1;
  --transform-scale-y: 1;
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.score-board {
  width: 100%;
  margin-top: 2em;
  background-color: #ccc;
  font-size: 24px;
}

.score-board tbody tr:nth-child(odd) {
  background-color: #eee;
}

.score-board .player.offline {
  font-style: italic;
  color: #888;
}
.bg-gradient-blue{
  background: linear-gradient(219.99deg,#12c2ea -54.14%,#7c00fa 86.87%);
}
.bg-base-purple {
  --tw-bg-opacity: 1;
  background-color: rgb(32 13 73/var(--tw-bg-opacity));
}
.bg-gradient-orange{
background: #ff9d7e;
    background-image: url(/_next/static/media/bg-img-integrates.6a528bc7.png),linear-gradient(249.73deg,#ff9d7e 2.87%,#8c54fd 89.48%);
    background-repeat: no-repeat;
    background-position: 100% 100%;
    background-size: 40%,auto,cover;
    border-radius: 10px;
}
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
#select-modal{
  position: fixed;
  top: 50%;
  left: 50%;
  background: rgba(0,0,0,.5);
  transform: translate(-50%,-53%);
  z-index: 10;
  display: flex;
}
