:root {
  --clr-bg-dark: #1f2937; /* gray-800 */
  --clr-bg-light: #fafafa; /* zinc-50 */

  --clr-text-dark: #1f2937; /* gray-200 */
  --clr-text-light: #fafafa; /* zinc-50 */
 
}




@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}




/* 
html.dark {
  background:url('./../../dark-bg.jpg');
  background-size:cover;
  min-height:90vh
}
html{

  background:url('./../../public/light-bg.jpg');

  min-height:90vh;
background-size: cover; 
} */
.my-screen{
  height: 90vh;
}


a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}


h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
/***theme css**/
.theme-btn {
  padding: 2px 15px;
  font-size: 1rem;
  text-align: center;
}
.light {
  background-color: #efeded;

}

.dark {
  background-color: #18191a;
}

.Navbar.light {
  background-color: #ffffff;
}

.Navbar.dark {
  background-color: #252526;
}

.light a,
.light p,
.light h1,
.light h3 {
  color: #000000;
}

.dark a,
.dark p,
.dark h1,
.dark h3 {
  color: #ffffff;
}

/***theme css**/

/***background  style for get question **/
.animated-box {
  font-family: 'Lato';
  color: #ffffff;
  padding: 30px;
  text-align: center;
  border-radius: 4px;
    color: rgb(46, 44, 44);
}

.animated-box h1 {
  font-weight: 200;
  font-size: 40px;
  text-transform: uppercase;
}

.animated-box p {
  font-weight: 200;
}

/* The animation starts here */
.animated-box {
  position: relative;
}

.animated-box:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 4px;
  background: linear-gradient(120deg, #00F260, #0575E6, #00F260);
  background-size: 300% 300%;
  clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
}

.animated-box.in:after {
  animation: frame-enter 1s forwards ease-in-out reverse, gradient-animation 4s ease-in-out infinite;
}


/* motion */
@keyframes gradient-animation {
  0% {
    background-position: 15% 0%;
  }
  50% {
    background-position: 85% 100%;
  }
  100% {
    background-position: 15% 0%;
  }
}

@keyframes frame-enter {
  0% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), 3px calc(100% - 3px), 3px 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  25% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) calc(100% - 3px), calc(100% - 3px) 100%, 100% 100%, 100% 0%, 0% 0%);
  }
  50% {
    clip-path: polygon(0% 100%, 3px 100%, 3px 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, calc(100% - 3px) 3px, 100% 0%, 0% 0%);
  }
  75% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 3px, 3px 0%, 0% 0%);
  }
  100% {
    -webkit-clip-path: polygon(0% 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 3px 100%, 0% 100%);
  }
}



/***button style for get question **/
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}



.container {
  position: relative;
  height: 100vh;
  width: 100%;
  overflow: hidden;
  background-color: #201c29;
}
.container::before, .container::after {
  position: absolute;
  width: 250px;
  height: 250px;
  content: "";
  border-radius: 54% 46% 42% 58%/60% 58% 42% 40%;
  background-image: linear-gradient(45deg, #006d77, #83c5be);
  animation: vawe 5s linear infinite;
}
.container::before {
  top: -10%;
  right: -10%;
}
.container::after {
  bottom: -10%;
  left: -15%;
}
.container .dots {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.container .dots span {
  position: absolute;
  border-radius: 50%;
  background-image: linear-gradient(45deg, #006d77, #83c5be);
  border-radius: 38% 62% 55% 45%/32% 53% 47% 68%;
  animation: vawe 7s linear infinite;
}
.container .dots span:nth-child(1) {
  top: 10%;
  left: calc(100% - 360px);
  width: 75px;
  height: 75px;
}

.container .dots span:nth-child(2) {
  top: 15px;
  left: 180px;
  width: 50px;
  height: 50px;
  border-radius: 38% 62% 33% 67%/60% 53% 47% 40%;
  transform: rotate(90deg);
}
.container .dots span:nth-child(6) {
  right: 180px;
  bottom: 20px;
  width: 80px;
  height: 80px;
  border-radius: 38% 62% 55% 45%/52% 53% 47% 48%;
}
.container .dots span:nth-child(3) {
  bottom: 50px;
  left: 240px;
  width: 20px;
  height: 20px;
  border-radius: 38% 62% 55% 45%/52% 53% 47% 48%;
}
.container .dots span:nth-child(5) {
  right: 280px;
  bottom: 80px;
  width: 25px;
  height: 25px;
  border-radius: 38% 62% 55% 45%/52% 53% 47% 48%;
}
.container .dots span:nth-child(4) {
  top: 6%;
  left: calc(100% - 400px);
  width: 25px;
  height: 25px;
}

.container .dots span:nth-child(7) {
  top: -10%;
  left: calc(100% - 100px);
  width: 75px;
  height: 75px;
}
.container .dots span:nth-child(8) {
  top: 60%;
  left: calc(100% - 200px);
  width: 75px;
  height: 75px;
}
.content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;

  padding: 1em;
  text-align: center;
  font-size: 1.25rem;
  border-radius: 0.5em;

 
} 


@keyframes vawe {
  20% {
    border-radius: 45% 55% 62% 38%/53% 51% 49% 47%;
  }
  40% {
    border-radius: 45% 55% 49% 51%/36% 51% 49% 64%;
  }
  60% {
    border-radius: 60% 40% 57% 43%/47% 62% 38% 53%;
  }
  80% {
    border-radius: 60% 40% 32% 68%/38% 36% 64% 62%;
  }
}
